/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0dcdc;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    background-color: #333;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 10vh;
    width: 100vw;
    top: 0;
}

header h1 {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: rgb(71, 151, 242);
    font-weight: bold;
}
 
a:hover {
    color: rgb(171, 71, 242);
}

main {
    position: relative;
    margin-top: 10vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: bold;
}

.nav-item {
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

button {
    background-color: rgb(46, 46, 223);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(12, 4, 175);
}

/* index.html */
.home-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
    padding: 0 4rem;
    justify-content: center;
    height: 100%;
}

.slide-container {
    overflow: hidden;
}

.slide-track {
    display: flex;
    animation: slider 15s infinite alternate;
    transition: animation 1s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    } 35% {
        transform: translateX(0);
    } 40% {
        transform: translateX(-100%);
    } 75% {
        transform: translateX(-100%);
    } 80% {
        transform: translateX(-200%);
    } 100% {
        transform: translateX(-200%);
    } 
}

/* services.html */
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.services {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service-item {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.service-img {
    width: 30vw;
    max-height: 50vh;
    border-radius: 8px;
}

.service-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    line-height: 1.7;
}

/* about.html */
.bg-img {
    position: relative;
    width: 100%;
    object-fit: cover;
    image-rendering: auto;
}

.about-content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2rem;
}

.about-content h2 {
    margin-bottom: 1rem;
}

.about-content p {
    padding: 0 3rem;
    text-align: justify;
    line-height: 1.6;
}

/* contact.html */
.contact-content {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.list-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-content p {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* join.html */
.join {
    display: flex;
    justify-content: space-between;
}

.join-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.join-banner, .benefits, .benefits ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.benefits ul, .join-banner p {
    margin-left: 2rem;
}

.benefits ul li {
    list-style: none;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30vw;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    flex: 1;
}

form input, select {
    flex: 2;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid #757474;
    background: rgb(213, 207, 207);
}

form input {
    padding: 0.5rem 0.2rem;
}

form select {
    height: 2.3rem;
    padding: 0.5rem 0.2rem;
}

.reg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-btn button {
    /* margin: 1rem; */
    width: 50%;
    padding: 0.5rem 1rem;
}

.message {
    width: 100%;
    text-align: center;
}

.notification {
    display: none;
}

.notification.active {
    display: flex;
    position: absolute;
    left: 0;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.542);
    height: 100%;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.confirm-msg {
    width: 20%;
    padding: 30px 15px;
    background-color: rgb(205, 190, 190);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 1.5;
    text-align: center;
}

.confirm-btn {
    background-color: #333;
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.confirm-btn button {
    width: 30%;
}

/* classes.html */
.class-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.class-content h2 {
    text-align: center;
}

.service select {
    position: absolute;
    background-color: rgb(243, 238, 238);
    border: 1px solid rgb(166, 161, 161);
    width: 10%;
    top: 2%;
    padding: 0.5rem 0.3rem;
    border-radius: 8px;
}

.classes {
    overflow: auto;
    height: 70vh;
}

.classes::-webkit-scrollbar {
    display: none;
}

.classes ul {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(280px, 1fr));
    grid-gap: 2rem;
    padding: 0 1.5rem;
}

.classes ul li {
    position: relative;
    background-color: rgb(213, 206, 206);
    color: black;
    list-style: none;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 17vh;
    z-index: 0;
}

.classes ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-right: 100px solid #0933b1d9;
    border-top: 70px solid transparent;
    border-left: 30px solid transparent;
    border-bottom-right-radius: 10px; 
    z-index: 0;
}

.desc {
    text-align: justify;
    line-height: 1.4;
    z-index: 0;
}

.schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    bottom: 5%;
    z-index: 1;
}

.schedule-container h5 {
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    text-wrap: nowrap;
}

.join-link {
    right: 0;
    font-size: 15px;
    color: white;
}

.join-link:hover {
    color: black;
}

@media(min-width: 300px) {
    .page {
        padding: 0.5rem 1rem;;
    }

    .slide, .bg-img {
        min-height: 85vh;
    }

    .service-item {
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    .service-img {
        order: 1;
        min-width: 50vw;
    }

    .service-content {
        order: 2;
    }

    .about {
        padding: 1rem 0.7rem;
    }

    .about-content {
        overflow: auto;
        font-size: 1rem;
    }

    .contact-content {
        padding: 3rem 1rem;
        font-size: 1rem;
        gap: 2rem;
    }

    .list-content {
        padding: 1rem 0.5rem;
    }

    .join {
        padding: 5rem 2rem;
    } 

    .service select {
        width: 2vw;
    }

    .classes ul {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
        overflow: auto;
    }

    .service select {
        width: 20%;
    }

    footer {
        height: 5vh;
    }
}

@media(min-width: 950px) {
    .page {
        padding: 2rem 5rem;
    }

    .slide, .bg-img {
        max-height: 80vh;
        min-height: 80vh;
    }

    .service-item {
        flex-direction: row;
        align-items: start;
        gap: 3rem;
    }

    .service-img {
        min-width: 25vw;
        max-height: 40vh;
        order: 0;
    }

    .service-content {
        order: 0;
        font-size: 1.1rem;
    }

    .about {
        padding: 3rem;
    }

    .about-content {
        font-size: 1.2rem;
    }

    .contact-content {
        padding: 5rem 10rem;
        font-size: 1.2rem;
    }

    .list-content {
        padding: 2rem;
    }

    .join {
        padding: 5rem 10rem;
    }

    select {
        width: 15vw;
    }

    .classes ul {
        grid-template-columns: repeat(4, minmax(280px, 1fr));
    }

    .service select {
        width: 10%;
    }

    footer {
        height: 10vh;
    }
}